source ~/.vimrc.keymap

set clipboard=unnamed,autoselect
set surround
set hlsearch
set incsearch
set ignorecase
set smartcase
set visualbell
set noerrorbells
set NERDTree

# IdeaVimExtension
" set keep-english-in-normal

" general
nnoremap ,a :action ActivateAIAssistantToolWindow<CR>
vnoremap ,a :action ActivateAIAssistantToolWindow<CR>
nnoremap ,e :action GotoNextError<CR>
nnoremap ,E :action GotoPreviousError<CR>
nnoremap ,ff :action SearchEverywhere<CR>
nnoremap ,fs :action FileStructurePopup<CR>
nnoremap ,fg :action FindInPath<CR>
nnoremap ,fr :action RecentFiles<CR>
nnoremap ,fb :action Switcher<CR>
nnoremap ,r :action Refactorings.QuickListPopupAction<CR>
nnoremap ,c :action CallHierarchy<CR>
nnoremap ,B :action ToggleBookmark<CR>
nnoremap ,b :action ShowBookmarks<CR>
nnoremap ,z :action RecentProjectListGroup<CR>

nnoremap ;a :action ShowIntentionActions<CR>
vnoremap ;a :action ShowIntentionActions<CR>

nnoremap <Space>e :action ActivateProjectToolWindow<CR>
nnoremap <Space>h :action HideActiveWindow<CR>
nnoremap <Space><Esc> :action HideAllWindows<CR>
nnoremap <Space>p :action ParameterInfo<CR>
nnoremap <Space>i :action QuickJavaDoc<CR>
nnoremap <Space>d :action QuickImplementations<CR>

" jump on code
nnoremap gd :action GotoDeclaration<CR>
nnoremap gs :action GotoSuperMethod<CR>
nnoremap gi :action GotoImplementation<CR>
nnoremap gf :action GotoFile<CR>
nnoremap gb :action JumpToLastChange<CR>
nnoremap gu :action ShowUsages<CR>
nnoremap gU :action FindUsages<CR>
nnoremap gt :action GotoTest<CR>
nnoremap gh :action Back<CR>
nnoremap gl :action Forward<CR>

nnoremap gn :action NextOccurence<CR>
nnoremap gp :action PreviousOccurence<CR>

" code editing
" nnoremap r :action RenameElement<CR>
nnoremap == :action ReformatCode<CR>
vnoremap == :action ReformatCode<CR>

nnoremap <Space>/ :action CommentByLineComment<CR>
vnoremap <Space>/ :action CommentByLineComment<CR>

" vnoremap p :action EditorSelectWord<CR>
" vnoremap n :action EditorUnSelectWord<CR>

nnoremap ,p :action PasteMultiple<CR>
nnoremap ,P :action PasteMultiple<CR>

" nnoremap f :action AceAction<CR>
" vnoremap f :action AceAction<CR>

" kick intellij commands
nnoremap R :action ChooseRunConfiguration<CR>
nnoremap - :action StepOver<CR>
nnoremap _ :action Resume<CR>

" window
nnoremap s; :action CloseActiveTab<CR>
nnoremap so :action MoveEditorToOppositeTabGroup<CR>